<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <!-- Left Section: Logo and Name -->
            <div class="col-md-4 d-flex align-items-center">
                <img src="assets/logo1.png" alt="Logo" class="footer-logo">
            </div>

            <!-- Center Section: Links -->
            <div class="col-md-4 text-center">
                <a [routerLink]="['/Home/StudentLogin']" class="footer-link">Student Login</a> |
                <a [routerLink]="['/Home/DoctorLogin']" class="footer-link">Doctor Login</a>
            </div>

            <!-- Right Section: Address Information -->
            <div class="col-md-4" style=" font-weight: 100;">
                <p><i class="fas fa-map-marker-alt" style="color: white;"></i>
                    <a href="https://goo.gl/maps/k5KTYV5xvsJoNGH78" style=" color: #dedede;"> Faculty of Computers and
                        information , Assiut university, Assiut.</a>
                </p>
                <p><i class="fas fa-phone"></i> (088) 347678</p>
                <p><i class="fas fa-envelope"></i> <a href="mailto:fci_assiut&#64;fci.au.edu.eg"
                        style=" color: #dedede;"> fci_assiut&#64;fci.au.edu.eg</a></p>
            </div>
        </div>
    </div>
</footer>