.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #163c45;
    padding:10px 5px 10px 5px;
}

.col-sm-2 {
    padding-left: 73px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-image {
    width: 200px;
    height: 70px;
    padding-left: 10px;
}

.header-title {
    font-size: 20px;
    font-weight: 100;
    color: #ffffff;
}

.header-admin {
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 10px;
}

.admin-button {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    /* padding: 5px 10px; */
    transition: transform 0.3s ease, color 0.3s ease;
}

.admin-button:hover {
    color: #01a7cc;
    transform: translateY(-5px);
}


.admin-button:focus {
    outline: none;
}

.social-link {
    color: #ffffff;
    font-size: 24px;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #cccccc;
}