<div class="header-container">
    <div class="header-left">
        <img src="/assets/logo.png" alt="Header Image" class="header-image">
        <h1 class="header-title">Faculty of Computers and Information </h1>
    </div>
    <div class="header-center">
        <a href="https://www.facebook.com/profile.php?id=100057545794964&ref=hl" target="_blank" class="social-link">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://x.com/fci_aun" target="_blank" class="social-link">
        <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCHUxCMIM9gt1ipazny-63zA" target="_blank" class="social-link">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="mailto:youremail@gmail.com" target="_blank" class="social-link">
            <i class="fa-brands fa-google"></i>
        </a>
    </div>
    <!-- <div class="header-right">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
                <button ngbNavLink>Home</button>
            </li>
            <li ngbNavItem>
                <button ngbNavLink>Sign in</button>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
    </div> -->
</div>
