<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Schedule Management</h2>
                    </div>
                    <div class="col-sm-4 d-flex justify-content-end">

                        <button type="button" class="btn btn-info add-new me-2" (click)="ShowLevelButton()">
                            Run Schedule
                        </button>
                        <button *ngIf="ShowLevelButtons" class="btn btn-cancel" (click)="CancelSechdule()">
                            <i class="fa-solid fa-xmark" style="color: #e01b24;"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="showloading" class="loader"></div>
            <ng-container *ngIf="!ShowLevelButtons">
                <div class="row mt-3">
                    <ng-container *ngIf="!ShowLevel">
                        <div class="col-sm-3 d-flex justify-content-center">
                            <button type="button" class="btn btn-info w-100" (click)="ShowSechdule(1)">Level
                                1</button>
                        </div>
                        <div class="col-sm-3 d-flex justify-content-center">
                            <button type="button" class="btn btn-info w-100" (click)="ShowSechdule(2)">Level
                                2</button>
                        </div>
                        <div class="col-sm-3 d-flex justify-content-center">
                            <button type="button" class="btn btn-info w-100" (click)="ShowSechdule(3)">Level
                                3</button>
                        </div>
                        <div class="col-sm-3 d-flex justify-content-center">
                            <button type="button" class="btn btn-info w-100" (click)="ShowSechdule(4)">Level
                                4</button>
                        </div>
                    </ng-container>
                </div>
                <div class="col-mt-8 d-flex justify-content-end">
                    <ng-container *ngIf="ShowLevel">
                        <ng-container *ngFor="let group of currentGroup">
                            <ng-container *ngIf="group.Level === CurrentLevelGroup">
                                <button type="button" class="btn btn-info add-new me-2   _formatebutton"
                                    *ngFor="let g of group.Group" (click)="showTable(g,CurrentLevelGroup)">
                                    {{ g }}
                                </button>
                            </ng-container>
                        </ng-container>
                        <button class="btn btn-cancel" (click)="cancelShowing()">
                            <i class="fa-solid fa-xmark" style="color: #e01b24;"></i>
                        </button>
                    </ng-container>
                </div>
                <div *ngIf="showTableBoll">
                    <button mat-button (click)="downloadPDF()">
                        <img src="assets/download.png" class="icon" alt="Icon"
                            style="border:none;background: none; width: 20px; height: 20px;">
                    </button>
                </div>
            </ng-container>
            <ng-container *ngIf="showTableBoll">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Sunday</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let time of TimeData">
                            <td>{{ time }}</td>
                            <td>
                                <button type="button" class="btn btn-link"
                                    (click)="toggleCourseDetails('Sunday', time)">
                                    {{ myData['Sunday'][time].courseName }}
                                </button>
                                <div id="Sunday-{{ time }}-details" class="collapse">
                                    <p>Dr: {{ myData['Sunday'][time].doctorName }}</p>
                                    @if(!myData['Sunday'][time].editMode)
                                    {
                                    <p>Hall: {{ myData['Sunday'][time].hall }}</p>
                                    }
                                    @else{
                                    <input [(ngModel)]="myData['Sunday'][time].EditNewHall" placeholder="Hall"
                                        class="form-control" />
                                    }
                                    <p>Code: {{ myData['Sunday'][time].courseCode }}</p>
                                    <button *ngIf="!myData['Sunday'][time].editMode" class="btn btn-cancel"
                                        (click)="ChangeMode(  myData['Sunday'][time] )">
                                        <i class="fa-regular fa-pen-to-square" style="color: #2e062d;"></i>
                                    </button>
                                    <button *ngIf="myData['Sunday'][time].editMode" class="btn btn-cancel"
                                        (click)="SaveHall( myData['Sunday'][time])">
                                        <i class="fa-solid fa-square-check" style="color: #26a269;"></i>
                                    </button>
                                    <button *ngIf="myData['Sunday'][time].editMode" class="btn btn-cancel"
                                        (click)="canselEdit( myData['Sunday'][time])">
                                        <i class="fa-solid fa-xmark" style="color: #e01b24;"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link"
                                    (click)="toggleCourseDetails('Monday', time)">
                                    {{ myData['Monday'][time].courseName }}
                                </button>
                                <div id="Monday-{{ time }}-details" class="collapse">
                                    <p>Dr: {{ myData['Monday'][time].doctorName }}</p>
                                    @if(!myData['Monday'][time].editMode)
                                    {
                                    <p>Hall: {{ myData['Monday'][time].hall }}</p>
                                    }
                                    @else{
                                    <input [(ngModel)]="myData['Monday'][time].EditNewHall" placeholder="Hall"
                                        class="form-control" />
                                    }
                                    <p>Code: {{ myData['Monday'][time].courseCode }}</p>
                                    <button *ngIf="!myData['Monday'][time].editMode" class="btn btn-cancel"
                                        (click)="ChangeMode(myData['Monday'][time])">
                                        <i class="fa-regular fa-pen-to-square" style="color: #2e062d;"></i>
                                    </button>
                                    <button *ngIf=" myData['Monday'][time].editMode" class="btn btn-cancel"
                                        (click)="SaveHall(myData['Monday'][time])">
                                        <i class="fa-solid fa-square-check" style="color: #26a269;"></i>
                                    </button>
                                    <button *ngIf=" myData['Monday'][time].editMode" class="btn btn-cancel"
                                        (click)="canselEdit(myData['Monday'][time])">
                                        <i class="fa-solid fa-xmark" style="color: #e01b24;"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link"
                                    (click)="toggleCourseDetails('Tuesday', time)">
                                    {{ myData['Tuesday'][time].courseName }}
                                </button>
                                <div id="Tuesday-{{ time }}-details" class="collapse">
                                    <p>Dr: {{ myData['Tuesday'][time].doctorName }}</p>
                                    @if(!myData['Tuesday'][time].editMode)
                                    {
                                    <p>Hall: {{ myData['Tuesday'][time].hall }}</p>
                                    }
                                    @else{
                                    <input [(ngModel)]=" myData['Tuesday'][time].EditNewHall" placeholder="Hall"
                                        class="form-control" />
                                    }
                                    <p>Code: {{ myData['Tuesday'][time].courseCode }}</p>
                                    <button *ngIf="!myData['Tuesday'][time].editMode" class="btn btn-cancel"
                                        (click)="ChangeMode( myData['Tuesday'][time] )">
                                        <i class="fa-regular fa-pen-to-square" style="color: #2e062d;"></i>
                                    </button>
                                    <button *ngIf="myData['Tuesday'][time].editMode" class="btn btn-cancel"
                                        (click)="SaveHall( myData['Tuesday'][time] )">
                                        <i class="fa-solid fa-square-check" style="color: #26a269;"></i>
                                    </button>
                                    <button *ngIf="myData['Tuesday'][time].editMode" class="btn btn-cancel"
                                        (click)="canselEdit( myData['Tuesday'][time] )">
                                        <i class="fa-solid fa-xmark" style="color: #e01b24;"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link"
                                    (click)="toggleCourseDetails('Wednesday', time)">
                                    {{ myData['Wednesday'][time].courseName }}
                                </button>
                                <div id="Wednesday-{{ time }}-details" class="collapse">
                                    <p>Dr: {{ myData['Wednesday'][time].doctorName }}</p>
                                    @if(!myData['Wednesday'][time].editMode)
                                    {
                                    <p>Hall: {{ myData['Wednesday'][time].hall}}</p>
                                    }
                                    @else{
                                    <input [(ngModel)]=" myData['Wednesday'][time].EditNewHall" placeholder="Hall"
                                        class="form-control" />
                                    }
                                    <p>Code: {{ myData['Wednesday'][time].courseCode }}</p>

                                    <button *ngIf="!myData['Wednesday'][time].editMode" class="btn btn-cancel"
                                        (click)="ChangeMode( myData['Wednesday'][time] )">
                                        <i class="fa-regular fa-pen-to-square" style="color: #2e062d;"></i>
                                    </button>
                                    <button *ngIf="myData['Wednesday'][time].editMode" class="btn btn-cancel"
                                        (click)="SaveHall(myData['Wednesday'][time])">
                                        <i class="fa-solid fa-square-check" style="color: #26a269;"></i>
                                    </button>
                                    <button *ngIf="myData['Wednesday'][time].editMode" class="btn btn-cancel"
                                        (click)="canselEdit(myData['Wednesday'][time])">
                                        <i class="fa-solid fa-xmark" style="color: #e01b24;"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link"
                                    (click)="toggleCourseDetails('Thursday', time)">
                                    {{ myData['Thursday'][time].courseName }}
                                </button>
                                <div id="Thursday-{{ time }}-details" class="collapse">
                                    <p>Dr: {{ myData['Thursday'][time].doctorName }}</p>
                                    @if(!myData['Thursday'][time].editMode)
                                    {
                                    <p>Hall: {{myData['Thursday'][time].hall}}</p>
                                    }
                                    @else{
                                    <input [(ngModel)]="myData['Thursday'][time].EditNewHall" placeholder="Hall"
                                        class="form-control" />
                                    }
                                    <p>Code: {{ myData['Thursday'][time].courseCode }}</p>

                                    <button *ngIf="!myData['Thursday'][time].editMode" class="btn btn-cancel"
                                        (click)="ChangeMode( myData['Thursday'][time] )">
                                        <i class="fa-regular fa-pen-to-square" style="color: #2e062d;"></i>
                                    </button>
                                    <button *ngIf="myData['Thursday'][time].editMode" class="btn btn-cancel"
                                        (click)="SaveHall(myData['Thursday'][time])">
                                        <i class="fa-solid fa-square-check" style="color: #26a269;"></i>
                                    </button>
                                    <button *ngIf="myData['Thursday'][time].editMode" class="btn btn-cancel"
                                        (click)="canselEdit(myData['Thursday'][time])">
                                        <i class="fa-solid fa-xmark" style="color: #e01b24;"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>

            <!-- InValidCourses -------------------------------------->
            <ng-container *ngIf="ShowLevelButtons">
                <mat-form-field class="FilterC">
                    <mat-label>Filter</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                </mat-form-field>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="courseName">
                        <th mat-header-cell *matHeaderCellDef> Course</th>
                        <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="courseCode">
                        <th mat-header-cell *matHeaderCellDef> Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.courseCode}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="doctorName">
                        <th mat-header-cell *matHeaderCellDef> Doctor </th>
                        <td mat-cell *matCellDef="let element"> {{element.doctorName}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="doctorEmail">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.doctorEmail}} </td>
                    </ng-container>
                    <ng-container matColumnDef="department">
                        <th mat-header-cell *matHeaderCellDef> Department </th>
                        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                    </ng-container>
                    <ng-container matColumnDef="option1">
                        <th mat-header-cell *matHeaderCellDef> Option 1 </th>
                        <td mat-cell *matCellDef="let element"> {{element.option1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="option2">
                        <th mat-header-cell *matHeaderCellDef> Option 2 </th>
                        <td mat-cell *matCellDef="let element"> {{element.option2}} </td>
                    </ng-container>
                    <ng-container matColumnDef="option3">
                        <th mat-header-cell *matHeaderCellDef> Option 3 </th>
                        <td mat-cell *matCellDef="let element"> {{element.option3}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCourses"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCourses;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>

                <div>
                </div>
            </ng-container>
        </div>
    </div>
</div>