<div class="Form_body" *ngIf="ShowStudentLogin">
    <div class="registration-container">
        <div class="registration-form">
            <h2>Student Registration</h2>
            <form>
                <div class="form-group">
                    <label for="student-id">Student Academic Number</label>
                    <input type="text" [(ngModel)]="StudentID" name="StudentID" id="student-id" placeholder="Academic number" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" [(ngModel)]="password"  name="password" id="password" placeholder="Password" />
                </div>
                <button class="btn" (click)="checkLogin()">
                    Login
                </button>
            </form>
        </div>
    </div>
</div>

<router-outlet *ngIf="!ShowStudentLogin"></router-outlet>