@if(ShowAdminLogin){
<body>
    <div class="registration-container">
        <div class="registration-form">
            <h2>Admin Registration</h2>
            <form [formGroup]="adminForm" (ngSubmit)="CheckLogin()">
                <div class="form-group">
                    <label for="student-id">Admin ID</label>
                    <input type="text" [(ngModel)]="AdminID" formControlName="AdminID" name="AdminID" id="AdminID"
                        placeholder="National ID" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" [(ngModel)]="password" formControlName="password" name="password"
                        id="password" placeholder="Password" />
                </div>
                <div *ngIf="loginError" class="login-error-box">
                 Invalid Admin ID or Password
                </div>
                <button type="submit" class="btn" [disabled]="adminForm.invalid">
                    Login
                </button>
           </form>
        </div>
    </div>
</body>

}
@else {
<router-outlet></router-outlet>
}