<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Doctor Management</h2>
                    </div>
                    <div class="col-sm-3 text-right">
                        <button type="button" class="btn btn-info add-new" (click)="AddDoctor()">
                            Add New Doctor
                        </button>
                    </div>
                </div>
            </div>

            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search ..." #input>
            </mat-form-field>

            <table #table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element">
                        @if(element.AddOption){
                        <input type="text" #nameInput [(ngModel)]="element.name" placeholder="Enter Name">

                        }
                        @else{
                        {{ element.name }}
                        }
                    </td>
                </ng-container>

                <ng-container matColumnDef="Department">
                    <th mat-header-cell *matHeaderCellDef> Department </th>
                    <td mat-cell *matCellDef="let element">
                        @if(element.AddOption){
                        <input type="text" [(ngModel)]="element.department" placeholder="Enter Department">

                        }
                        @else{
                        {{element.department}}
                        }
                    </td>
                </ng-container>

                <ng-container matColumnDef="Email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element">
                        @if(element.AddOption){
                        <input type="text" [(ngModel)]="element.email" placeholder="Enter Email">
                        }
                        @else{
                        {{element.email}}
                        }
                    </td>
                </ng-container>

                <ng-container matColumnDef="NationalId">
                    <th mat-header-cell *matHeaderCellDef> National ID </th>
                    <td mat-cell *matCellDef="let element">
                        @if(element.AddOption){
                        <input type="text" [(ngModel)]="element.nationalId" placeholder="Enter National ID">
                        }
                        @else{
                        {{element.nationalId}}
                        }
                    </td>
                </ng-container>

                <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="expand row"
                            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                            <mat-icon>{{expandedElement === element ? 'keyboard_arrow_up' :
                                'keyboard_arrow_down'}}</mat-icon>
                        </button>
                        @if(element.AddOption){
                        <button mat-icon-button aria-label="add row" (click)="SaveDoctor(element)">
                            <i class="fa-solid fa-square-check" style="color: #26a269;"></i>
                        </button>
                        <button mat-icon-button aria-label="delete row" (click)="Cancel(element)">
                            <i class="fa-solid fa-xmark" style="color: #000000;"></i>
                        </button>
                        }@else{
                        <button mat-icon-button aria-label="add row" (click)="AddDoctorCourse(element)">
                            <i class="fa fa-plus"></i>
                        </button>
                        <button mat-icon-button aria-label="delete row" (click)="DeleteDoctor(element)">
                            <i class="fa-solid fa-trash" style="color: #e01b24;"></i>
                        </button>
                        }
                    </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <table class="inner-table mat-elevation-z8">
                                <thead>
                                    <tr>
                                        <th>Course Name</th>
                                        <th>Option 1</th>
                                        <th>Option 2</th>
                                        <th>Option 3</th>
                                        <th>Group</th>
                                        <th> Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let course of element.courseNames">
                                        <td class="selecttime">
                                            @if(course.AddCourseOption){
                                            <input type="text" [(ngModel)]="course.courseCode"
                                                placeholder="Enter Course Code">
                                            }
                                            @else{
                                            {{ course.courseCode }}
                                            }
                                        </td>
                                        <td class="selecttime">
                                            @if(course.AddCourseOption||course.EditCourseOption){
                                            <mat-select [(ngModel)]="course.option1" placeholder="Select time and day">
                                                <mat-option *ngFor="let option of timeDayOptions" [value]="option">
                                                    {{ option }}
                                                </mat-option>
                                            </mat-select>
                                            }
                                            @else{
                                            {{ course.option1 }}
                                            }
                                        </td>
                                        <td class="selecttime">
                                            @if(course.AddCourseOption||course.EditCourseOption){
                                            <mat-select [(ngModel)]="course.option2" placeholder="Select time and day">
                                                <mat-option *ngFor="let option of timeDayOptions" [value]="option">
                                                    {{ option }}
                                                </mat-option>
                                            </mat-select>
                                            }
                                            @else{
                                            {{ course.option2 }}
                                            }
                                        </td>
                                        <td class="selecttime">
                                            @if(course.AddCourseOption||course.EditCourseOption){
                                            <mat-select [(ngModel)]="course.option3" placeholder="Select time and day">
                                                <mat-option *ngFor="let option of timeDayOptions" [value]="option">
                                                    {{ option }}
                                                </mat-option>
                                            </mat-select>
                                            }
                                            @else{
                                            {{ course.option3 }}
                                            }
                                        </td>
                                        <td class="selecttime">
                                            @if(course.AddCourseOption){
                                            <input type="text" [(ngModel)]="course.gruop" placeholder="Enter Group">
                                            }
                                            @else{
                                            {{ course.gruop }}
                                            }
                                        </td>
                                        <td class="selecttime">
                                            @if(course.AddCourseOption||course.EditCourseOption){
                                            <button mat-icon-button aria-label="add row"
                                                (click)="check(element,course)">
                                                <i class="fa-solid fa-square-check" style="color: #26a269;"></i>
                                            </button>
                                            <button mat-icon-button aria-label="delete row"
                                                (click)="CancelCourse(element,course)">
                                                <i class="fa-solid fa-xmark" style="color: #000000;"></i>
                                            </button>
                                            }@else {
                                            <button mat-icon-button aria-label="edit row"
                                                (click)="changeMode(element,course)">
                                                <i class="fa-regular fa-pen-to-square" style="color: #000000;"></i>
                                            </button>
                                            <button mat-icon-button aria-label="delete row"
                                                (click)="DeleteDoctorCourse(element,course)">
                                                <i class="fa-solid fa-trash" style="color: #e01b24;"></i>
                                            </button>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- </div> -->
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
                </tr>

            </table>
        </div>
    </div>
</div>